// big button

.big-button {
    background: $purple;
    border: none;
    border-bottom: 0.6rem solid darken($purple,10%);
    color: white;
    font-size: $l_size;
    font-weight: bold;
    padding: 2.4rem;
    margin-bottom: $m-size;
    width: 100%;
}
.big-button:disabled
{
    opacity: .5;
}

.button {
    background: $purple ;
    border: none;
    border-bottom: .3rem solid darken($purple, 10%);
    font-size: $s-size;
    font-weight: 500;
    padding: $s-size;
    color: white;
}
.button--link {
    background: none;
    border: none;
    color: $off-white;
    padding: 0%;
}

@media (min-width:$desktop-breakpoints){
    .big-button {
        margin-bottom: $xl-size;
    }
}